/* NavSm */
@media (max-width: 793.99px) {
    #NavLg{
        display: none;
    }
}
/* End NavSm */

/* NavLg */
@media (min-width: 794px) {
    #NavSm{
        display: none;
    }

    .Nav{
        background-color: #712cf9;
        padding: 15px 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(255, 255, 255, 0.15);
    }
    
    .NavContainer{
        margin: 0 auto;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
    }

    .NavLeft{
        display: flex;
        align-items: center;
        gap: 15px;
    }
    
    .NavLogo__SVG{
        color: white;
    }
    
    .NavSearch__ToggleBtn{
        display: flex;
        align-items: center;
        gap: 80px;
        padding: 7px;
        background-color: rgb(105 46 223);
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 5px;
        cursor: pointer;
    }
    
    .NavSearch__ToggleBtn:hover{
        border-color: #ffe484;
        background: rgba(0,0,0,0.25);
        box-shadow: 0 0 0 0.25rem rgba(255,228,132,0.4);
        color: #fff;
        outline: none;
    }
    
    .NavSearchGroup{
        display: flex;
        align-items: center;
        gap: 5px;
    }
    
    .NavSearch__SearchIcon{
        color: white;
    }
    
    .NavSearch__SearchText{
        color: rgb(212, 209, 209);
    }
    
    .NavSearch__ShortKey{
        background-color: #4f22a7;
        color: rgb(212, 209, 209);
        padding: 4px;
        font-size: 0.8rem;
    }
    
    .NavMenu{
        display: flex;
        align-items: center;
        gap: 15px;
    }
    
    .NavMenu__Link{
        display: block;
        color: rgba(255, 255, 255, 0.85);
        text-decoration: none;
    }
    
    .NavMenu__Link:hover{
        color: white;
    }
    
    .NavMenu__Link--Active{
        color: white;
        font-weight: 600;
    }
    
    .NavMenu__Link--Separate{
        border-right: 1px solid rgb(195, 195, 195);
        padding-right: 15px;
    }
    
    .NavMenu__DropdownBtn{
        background: none;
        border: none;
        color: rgba(255, 255, 255, 0.85);
        font-size: 1rem;
        cursor: pointer;
    }
    
    .NavMenu__DropdownBtn:hover{
        color: white;
    }
    
    .NavMenu__DropdownBtn::after {
        display: inline-block;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
    }
    
    .NavMenu__Dropdown{
        cursor: pointer;
        display: block;
        position: relative;
    }
    
    .NavMenu__Dropdown::after{
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 30px;
    }
    
    .NavMenuDropdownList{
        background-color: white;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(255, 255, 255, 0.15);
        width: max-content;
        padding: 5px;
        top: 25px;
        right: 0;
        position: absolute;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 2px;
        display: none;
    }
    
    .NavMenu__DropdownLink{
        display: block;
        text-decoration: none;
        color: #212529;
        padding: 7px 10px;
        border-radius: 5px;
    }
    
    .NavMenu__DropdownLink:hover{
        background-color: rgba(112.520718,44.062154,249.437846, .1);
    }
    
    .NavMenu__DropdownLink--Active{
        background-color: rgba(112.520718,44.062154,249.437846, .1);
    }
    
    .NavMenu__Dropdown:hover .NavMenuDropdownList{
        display: flex;
    }
    
} /* End media min-width: 794px */


@media (min-width: 992px) {
    .NavContainer{
        width: 960px;
    }
} /* End media min-width: 992px */

@media (min-width: 1200px) {
    .NavContainer{
        width: 1140px;
    }
} /* End media min-width: 1200px */

@media (min-width: 1400px) {
    .NavContainer{
        width: 1320px;
    }
} /* End media min-width: 1400px */

/* End NavLg */