/* Modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    overflow-y: auto;
    display: none;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.774);
}

.modal__content--search{
    border: 1px solid #c3b7b7;
    width: 100%;
    height: auto;
    background-color: white;
    position: absolute;
    animation: modalFromTop 0.3s;
}

.modal__content--loader{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-45%, -50%);
    text-align: center;
}

.modal__content--loader .loader{
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #2b2929;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
}

.loading__title {
    position: absolute;
    top: 81px;
    left: -72px;
    width: max-content;
    color: white;
    text-align: center;
    line-height: 20px;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@keyframes modalFromTop {
    from {
       top: -100%;
    }
    to {
       top: 0px;
    }
}

.modal__content--search{
    border: 1px solid #c3b7b7;
    width: 100%;
    height: auto;
    background-color: white;
    position: absolute;
    animation: modalFromTop 0.3s;
}


@keyframes modalFromLeft {
    from {
       left: -100%;
    }
    to {
       left: 0px;
    }
}

.modal__content--left{
    width: 300px;
    height: 100%;
    background-color: white;
    position: absolute;
    animation: modalFromLeft 0.3s;
    box-shadow: 4px 4px 4px rgb(169, 167, 167);
}

.modal__width{
    margin: 0 auto;
}

@keyframes modalFromRight {
    from {
       right: -100%;
    }
    to {
       right: 0px;
    }
}

.modal__content--right{
    width: 300px;
    height: 100%;
    background-color: white;
    position: absolute;
    right: 0px;
    animation: modalFromRight 0.3s;
    box-shadow: -4px 4px 4px rgb(169, 167, 167, 167);
}

.modal__header{
    border-bottom: 1px solid #c3b7b7;
}

.modal__title{
    font-size: 16px;
}

.modal__header .modal__width{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-body__ul{
    padding:0;
    list-style: none;
}

.modal-body__li{
    font-size: 15px;
    margin-bottom: 20px;
}

.modal-body__a{
    text-decoration: none;
    color: black;
}

.modal__form-validate--search{
    margin: 40px 0;
}

.modal-search__form{
    display: flex;
    justify-content: space-between;
    border: 1px solid #c3b7b7;
    padding: 5px;
    font-size: 13px;
}

.modal-search-form__input{
    width: 100%;
    font-family: AvenirLTStdMedium;
}

.pc-header__modal-btn:hover{
    cursor: pointer;
    background-color: #e1e1e1;
}

.modal-search-form__input,
.modal-search-form__submit{
    height: 35px;
    border: none;
    outline: none;
}

.modal-search-form__submit{
    height: 38px;
    width: 100px;
    font-family: AvenirLTStdMedium;
    background-color: var(--color-red);
    color: white;
    font-weight: bold;
    cursor: pointer;
}