.body__banner {
  position: relative;
  background-image: url("../img/banner.png");
}

.body__overlay::after {
  content: "";
  position: absolute;
  height: 124.222222%;
  width: 100%;
  background: linear-gradient(360deg, #000000 -14.3%, rgba(0, 0, 0, 0) 46.15%);
  z-index: 0;
  bottom: 0;
  left: 0;
}

@media (max-width: 1199px) {
  .body__banner {
    position: relative;
    display: block;
    height: 465px;
    width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 1200px) {
  .body__banner {
    width: 100%;
    padding-top: 31.25%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 75px;
  }
}

.body__banner .container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60px;
}

.body-banner-breadcrumb__item {
  font-family: BrandonReg;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #fff;
  z-index: 1;
}

.body-banner__heading {
  margin-top: 30px;
  font-size: 40px;
  line-height: 46px;
  color: #fff;
  font-family: BrandonBld;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .body-banner__heading {
    margin-top: 10px;
    font-size: 27px;
  }
}

.body-section__heading {
  display: flex;
  align-items: center;
  gap: 15px;
}

@media (min-width: 1199px) {
  .body-section__heading {
    margin-left: -41px;
  }
}

.body-section__heading-icon {
  display: block;
}

.body-section__heading-title {
  font-family: BrandonBld;
  font-size: 27px;
  padding: 11px 0 0;
  text-transform: uppercase;
  color: #333;
}

@media (max-width: 1199px) {
  .body-section__heading-title {
    font-size: 23px;
  }
}

.body__section {
  margin: 60px 0 60px 0;
}

.body__section-body {
  margin-top: 20px;
}

.buv__paragraph {
  font-family: AvenirNextLight;
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

.buv__paragraph--muted {
  color: var(--color-muted);
}

.buv__map iframe {
  width: 500px;
}

@media (max-width: 1199px) {
  .buv__map {
    text-align: center;
    margin-bottom: 30px;
  }

  .buv__map iframe {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .buv__two-col-padding {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
  }
}

.buv__link {
  color: #4774b7;
  font-family: AvenirLTStdHeavy;
}

.buv__link--underline {
  text-decoration: underline;
}

.buv__link--bold {
  font-weight: bold;
}

.buv__btn {
  font-family: AvenirLTStdHeavy;
  padding: 15px;
  width: fit-content;
  text-align: center;
  color: #fff;
  text-decoration: none;
  display: block;
}

.buv__btn--red {
  background-color: var(--color-red);
}

.buv__btn--center {
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .container {
    padding: var(--mb-padding);
  }

  .pc-header {
    display: none;
  }

  .mb-header {
    padding: var(--mb-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* .mb-header__logo{
        width: 100px;
    } */

  .mb-header__right {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .mb-header-modal__icon-search {
    width: 40px;
    height: 40px;
    padding-top: 1px;
    border: 1px solid #f3f3f3;
  }

  .mb-header-modal__icon-close {
    display: none;
    width: 40px;
    height: 40px;
    padding-top: 1px;
    border: 1px solid #f3f3f3;
  }

  .mb-header-modal__icon-hamberger {
    width: 40px;
    height: 40px;
    border: 1px solid #f3f3f3;
  }

  .modal__container {
    padding: 0 var(--mb-padding);
    margin: 0 auto;
  }

  .modal__search {
    top: 76px;
  }

  /* Navigation */
  .modal__navigation {
    top: 76px;
    height: 100vh;
    background-color: white;
    opacity: 0.9;
    display: none;
    padding: 15px;
  }

  .mb-header__nav {
    margin-top: 30px;
  }

  .mb-header-nav__item {
    position: relative;
    display: block;
    padding: 10px 0;
    font-size: var(--mb-fs-nav);
    line-height: 17px;
    color: #333;
    font-family: AvenirLTStdHeavy;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  }

  .mb-header__sub-nav {
    display: none;
  }

  .mb-header__sub-nav-right {
    display: none;
  }

  .mb-header-sub-nav__item {
    position: relative;
    display: block;
    padding: 10px 0;
    font-size: var(--mb-fs-nav);
    line-height: 17px;
    color: #333;
    font-family: AvenirLTStdHeavy;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  }

  .mb-header__sub-nav-right-item {
    position: relative;
    display: block;
    padding: 10px 0;
    font-size: var(--mb-fs-nav);
    line-height: 17px;
    color: #333;
    font-family: AvenirLTStdHeavy;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  }

  .mb-header-nav__item--right::after {
    position: absolute;
    content: "";
    transform: translateY(-50%);
    right: 0;
    top: 46%;
    background-image: url("../img/header-menu-right.png");
    width: 6px;
    height: 10px;
  }

  .mb-header-sub-nav__item--right::after {
    position: absolute;
    content: "";
    transform: translateY(-50%);
    right: 0;
    top: 46%;
    background-image: url("../img/header-menu-right.png");
    width: 6px;
    height: 10px;
  }

  .mb-header__lang {
    padding: 10px 0;
  }

  .mb-header-nav-lang__item {
    font-family: AvenirLTStdHeavy;
    position: relative;
    font-size: var(--mb-fs-nav);
    line-height: 17px;
    color: rgba(51, 51, 51, 0.75);
    transition: all 0.15s ease;
    display: inline-block;
  }

  .mb-header-nav-lang__item--separate {
    margin-right: 10px;
  }

  .mb-header-nav-lang__item--active {
    color: #333;
  }

  .mb-header-nav-lang__item--separate::before {
    position: absolute;
    content: "";
    right: -8px;
    top: 48%;
    width: 1px;
    height: 14px;
    background: rgba(51, 51, 51, 0.5);
    transform: translateY(-50%);
  }

  .mb-header__folow {
    margin-top: 30px;
    display: flex;
    gap: 25px;
    align-items: center;
    padding: 10px 0;
  }

  .mb-header-follow__title {
    font-size: 14px;
    line-height: 17px;
    color: #333;
    font-family: AvenirLTStdMedium;
    text-transform: uppercase;
  }

  .mb-header-follow__icon {
    fill: rgba(51, 51, 51, 0.747);
  }
} /* End mb media */

@media (min-width: 1199px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }

  .mb-header {
    display: none;
  }

  .pc-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    z-index: 100;
    background-color: rgba(255, 255, 255, 1);
    transition: all 0.3s ease;
    height: 75px;
    display: flex;
    align-items: center;
  }

  .pc-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .pc-header__logo {
    width: 106px;
  }

  .pc-header__right {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  .pc-header__nav {
    position: relative;
    display: flex;
    align-items: center;
    gap: 60px;
  }

  .pc-header-nav__item {
    position: relative;
    font-size: 14px;
    line-height: 17px;
    color: #333;
    font-family: AvenirLTStdHeavy;
    transition: all 0.15s ease;
  }

  .pc-header-nav__item--dropdown::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 75px;
  }

  .pc-header__nav-group {
    position: relative;
  }

  .pc-header__nav-group:hover .pc-header__sub-nav {
    display: block;
  }

  .pc-header-nav__item--dropdown::after {
    position: absolute;
    content: "";
    transform: translateY(-50%);
    right: -15px;
    top: 50%;
    background-image: url("../img/header-menu-dropdown-icon.png");
    width: 10px;
    height: 6px;
  }

  .pc-header-nav-lang__item {
    font-family: AvenirLTStdHeavy;
    position: relative;
    font-size: 14px;
    line-height: 17px;
    color: rgba(51, 51, 51, 0.75);
    transition: all 0.15s ease;
  }

  .pc-header-nav-lang__item--separate {
    margin-right: 10px;
  }

  .pc-header-nav-lang__item--active {
    color: #333;
  }

  .pc-header-nav-lang__item--separate::before {
    position: absolute;
    content: "";
    right: -8px;
    top: 48%;
    width: 1px;
    height: 14px;
    background: rgba(51, 51, 51, 0.5);
    transform: translateY(-50%);
  }

  .pc-header__sub-nav {
    position: absolute;
    top: calc(100% + 28px);
    left: -20px;
    z-index: 10;
    background-color: hsla(0, 0%, 100%, 0.8);
    min-width: 180px;
    display: none;
  }

  .pc-header__sub-nav-right {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    min-width: 250px;
    transition: all 0.3s ease;
    background-color: hsla(0, 0%, 100%, 0.8);
  }

  .pc-header__sub-nav-right-item {
    display: block;
    position: relative;
    padding: 12px 20px 10px;
    margin: 0;
    transition: all 0.3s ease;
    font-family: AvenirLTStdMedium;
    font-size: 14px;
    line-height: 19px;
    color: rgba(52, 52, 52, 0.8);
  }

  .pc-header__sub-nav-right-item::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: hsla(0, 0%, 51%, 0.2);
  }

  .pc-header__sub-nav-right {
    display: none;
  }

  .pc-header__sub-nav-group {
    position: relative;
  }

  .pc-header__sub-nav-group:hover .pc-header__sub-nav-right {
    display: block;
  }

  .pc-header-sub-nav__item {
    display: block;
    position: relative;
    padding: 12px 27px 12px 20px;
    margin: 0;
    transition: all 0.3s ease;
    font-family: AvenirLTStdMedium;
    font-size: 14px;
    line-height: 19px;
    color: rgba(52, 52, 52, 0.8);
  }

  .pc-header-sub-nav__item::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: hsla(0, 0%, 51%, 0.2);
  }

  .pc-header-sub-nav__item--right::after {
    position: absolute;
    content: "";
    transform: translateY(-50%);
    right: 8px;
    top: 50%;
    background-image: url("../img/header-menu-right.png");
    width: 6px;
    height: 10px;
  }

  .pc-header-modal__icon-search {
    width: 24px;
    height: 24px;
  }

  .pc-header-modal__icon-search:hover {
    cursor: pointer;
  }

  .pc-header-modal__icon-close {
    width: 24px;
    height: 24px;
    display: none;
  }

  .modal__container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .modal__search {
    top: 75px;
  }
} /* End pc media */

.footer {
  background-color: #343434;
}

@media (max-width: 1199px) {
  .footer {
    /* padding: var(--mb-padding); */
  }
}

@media (min-width: 1200px) {
  .footer__row {
    padding: 60px 0;
    display: grid;
    grid-template-columns: 20% 50% 25%;
    gap: 2.5%;
  }
}

.footer__col--left {
}

.footer__logo {
}

.footer__followus {
  margin-top: 60px;
}

.footer__followus-title {
  font-family: AvenirLTStdHeavy;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #f5f5f5;
}

.footer__followus-icon {
  margin-top: 15px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer__copyright {
  margin-top: 60px;
  letter-spacing: 0.01em;
  color: #969696;
  line-height: 20px;
}

@media (max-width: 1199px) {
  .footer__copyright {
    display: none;
  }
}

@media (min-width: 1200px) {
  .footer__col--middle {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.footer__item {
  margin-bottom: 30px;
}

@media (max-width: 1199px) {
  .footer__item {
    margin-top: 30px;
  }
}

.footer__item-title {
  position: relative;
  padding-left: 14px;
  font-family: BrandonReg;
  color: #fff;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 20px;
}

.footer__item-li {
  margin-bottom: 10px;
}

.footer__item-a {
  font-family: AvenirNextLight;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  transition: all 0.25s ease;
}

.footer__item-title::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  background: var(--color-red);
}

@media (max-width: 1199px) {
  .footer__buvinfo {
    margin-top: 60px;
  }
}

.footer-buvinfo__item {
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 92px auto;
  gap: 5px;
}

.footer-buvinfo__item-content--br {
  display: block;
}

.footer-buvinfo__item-title {
  color: #fff;
  font-size: 13px;
  font-family: AvenirLTStdHeavy;
}

.footer-buvinfo__item-content {
  font-family: AvenirNextLight;
  color: #fff;
  font-size: 13px;
  line-height: 15px;
}

.footer__map {
  margin-top: 30px;
}

@media (max-width: 1199px) {
  .footer__map {
    margin-bottom: 60px;
  }

  .footer__map-iframe {
    width: 100%;
  }
}

.footer__nav {
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 10px;
}

@media (max-width: 1199px) {
  .footer__nav {
    display: none;
  }
}

.footer__nav-item {
  color: #bdbdbd;
  font-size: 14px;
}

/* Psg page */
.buv__img-full-width {
  display: block;
  width: 100%;
}

.buv__img-width-75 {
  width: 75%;
}

.buv__img-width--center {
  display: block;
  margin: 0 auto;
}

.buv__video-youtube--psg iframe {
  width: 100%;
  height: 500px;
}

.buv__psg-overview-student-experience {
  display: flex;
  background-color: #f3f3f3;
  margin-bottom: 15px;
  gap: 25px;
  align-items: center;
}

.buv-psg-overview-student-experience__img {
  height: 460px;
}

.buv-psg-overview-student-experience__text {
  padding: 15px;
  line-height: 18px;
}

.buv-psg-overview-student-experience__heading {
  font-weight: bold;
}

.buv-psg-overview-student-experience__ul {
  list-style: circle;
  padding: 0 20px;
}

.buv-psg-overview-student-experience__li {
  margin: 10px auto;
}

.buv-psg-overview-student-experience__li--bold {
  font-weight: bold;
}

.buv__psg-coreareas {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.buv__psg-coreareas-item {
  height: 400px;
  width: calc(50% - 15px);
  background-size: cover;
  position: relative;
}

.buv-psg-coreareas__hover {
  background-color: red;
  padding: 30px;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}

.buv__psg-coreareas-item:hover .buv-psg-coreareas__hover {
  cursor: pointer;
  visibility: visible;
  opacity: 1;
}

.buv-psg-coreareas-hover__heading {
  color: white;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}

.buv-psg-coreareas-hover__description {
  margin-top: 20px;
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-family: AvenirNextLight;
}

.buv-psg-coreareas-hover_seemore {
  background-color: rgba(0, 0, 0, 0.781);
  color: white;
  padding: 7px 5px;
  margin-top: 15px;
  display: inline-block;
}

.buv-psg-coreareas__heading {
  background-color: black;
  width: fit-content;
  padding: 15px;
  font-family: AvenirLTStdHeavy;
  color: white;
  position: absolute;
  bottom: 20px;
}

.buv-psg-coreareas__heading--yellow {
  background-color: rgba(255, 192, 0, 0.8);
}

.buv-psg-coreareas__heading--green {
  background-color: rgba(0, 153, 57, 0.8);
}

.buv-psg-coreareas__heading--red {
  background-color: rgba(216, 0, 24, 0.8);
}

.buv-psg-coreareas__heading--blue {
  background-color: rgba(0, 116, 211, 0.8);
}
